@charset "UTF-8";

/* TYPE */
html,body {
	font-family: sans-serif;
	background-color:#000000;
	color:#dddddd;
	font-size:12px;
}

.content {
	background-color:#000000;
	color:#dddddd;
	min-width:100%;
	margin-top:100px;
	border-bottom:0;
}

/*
 * main container
 */
.main {
	margin-left:240px;
	margin-right:10px;
	border:1px solid #ffffff!important;
	background:#000000;
}

header img {
	height:70px !important;
}

h2 img {
	width:32px!important;
	height:32px!important;
}

.topheader {
	background:#000000 url('../img/header_g_froxlor.png') 0 bottom repeat-x;
	margin-bottom:12px;
	border-bottom:0;
}

.topheader_navigation {
	display:none;
}

.topheadernav img {
	height:24px!important;
	width:24px;
}

/* navigation */
nav {
	background-color:#000000;
	margin:0;
}

nav div:first-child {
	display:block;
	margin-top:0;
}

nav div:nth-child(2) {
	border-top:1px solid #000!important;
}

nav div:last-child {
	border-bottom:1px solid #000!important;
}

.menuelement {
	margin-top:4px;
	margin-right:0;
	margin-bottom:8px;
	margin-left:12px;
	padding:4px 0 0 8px;
	border:1px solid #fff;
	background-color:#000000;
	color:#dddddd;
}

.menuelement ul li {
	margin:0;
	margin-left:20px;
}

.menuelement h4 {
	color:#000;
}

.menuelement h4 a {
	color:#000;
}

/* TABLES */
table {
	border: 1px solid #fff;
	background-color: #000;
}

table thead th, table th {
	color: #ffffff;
	background-color: #ff5555;
	border: 1px solid #ff5555;
	text-align: center;
}



input {
	color:#000;
	background-color:#ffcc66!important;
	border:1px solid #ffffff;
}

/*
 *  BUTTONS
 */
input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] {
	padding:4px 10px;
	margin:0 30px 0 0;
	height:30px;
	border:1px solid #ffffff;
	background-color: #ffcc66;
}

.loginsec input[type="button"],.loginsec input[type="submit"],.loginsec input[type="reset"] {
	margin:0 1px;
}

input[type="submit"],input[class="yesbutton"],input[type="submit"]:hover,input[class="yesbutton"]:hover,input[type="submit"]:active,input[class="yesbutton"]:active {
	color:green!important;
	background:#ccc url('../img/icons/button_ok.png') no-repeat 4px 8px!important;
	padding-left:25px;
}

input[class="nobutton"],input[type="reset"],input[class="nobutton"]:hover,input[type="reset"]:hover,input[class="nobutton"]:active,input[type="reset"]:active {
	color:red!important;
	background:#ccc url('../img/icons/cancel.png') no-repeat 4px 8px!important;
	padding-left:25px;
}

input[type="file"] {
	color:blue!important;
	background:#ccc url('../img/icons/button_ok.png') no-repeat 4px 8px!important;
	padding-left:25px;
}

select {
	color:#000;
	background-color:#dae7ee;
	border:1px solid #fff;
}

.dboarditem {
	margin-top: 4px;
	margin-right: 0;
	margin-bottom: 18px;
	margin-left: 12px;
	border: 1px solid #fff;
	padding:0;
}

.dboarditem td,.dboarditemfull td {
	padding-left:20px;
}